@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,300&display=swap');

* {
  box-sizing: border-box;
}

html, body {
    max-width: 100vw;
    overflow: hidden;
    min-height: 100vh;
    text-align: center;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  background: black;
  display: flex;
  flex-direction: column;
  letter-spacing: 5px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

#background {
  background-image: url("../images/mountains_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.5;
}

#main {
  padding: 20px;
  margin: 20px;
}

input {
  max-width: 400px;
  width: 80%;
  height: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 25px;
  text-align: center;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 20px 20px 8px rgb(0 0 0 / 50%);
}
.containertextprop {
  margin-bottom: 5px;
  margin-top: 100px;
}

/*Border Debug
#main                { border: 3px solid cyan;}
.section             { border: 3px solid yellow; }
.homecontainer       { border: 5px solid violet; }
.hometitle           { border: 2px solid pink; }
.subelementcontainer { border: 5px solid coral; }
.elementgroupprop    { border: 5px solid red; }
.textcontainer       { border: 5px solid lime; }
.inputcontainer      { border: 5px solid blue; }
.containertextprop   { border: 5px solid magenta; }
.container           { border: 2px solid white; }
p                    { border: 2px solid orange; }
ul                   { border: 2px solid olive; }
li                   { border: 2px solid white; }
/**/

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    font-size: 15px;
    letter-spacing: 5px;
  }
  input {
    font-size: 15px;
  }
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    font-size: 20px;
    letter-spacing: 5px;
  }
  input {
    font-size: 20px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

}
